.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #46648696;
  color: black;
}

.flip-card-back {
  background-color: #466486;
  color: white;
  transform: rotateY(180deg);
}