/* Add margin to the bottom of the navBar on the top of the page */
/* .nav-head{
    margin-bottom: 30px;
} */
/* Change nav bar background color */
.bg-color {
   background-color:#466486;
}

.navbar {
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Russo One', sans-serif;
}

.camila {
    letter-spacing: 15px;
}